<div class="container bg-img">
  <div class="row flex-login">
    <form class="form-signin">
      <div class="col-lg-12">
      <h2 class="form-signin-heading">Please sign in</h2>
        <span class="error" *ngIf="error">{{ error }}</span>
          <button class="btn btn-lg btn-primary btn-block" (click)="loginGithub()" id="fb">Login With Github
          </button>
          <button class="btn btn-lg btn-primary btn-block" routerLink="/login-email" id="email" >Email</button>
          <br>
          <a routerLink="/signup" routerLinkActive="active" class="form-signin-alter">No account? <strong>Create one here</strong></a>
      </div>

    </form>
  </div>
</div>
