/* You can add global styles to this file, and also import other style files */
.bg-img {
  background-image: url('../../assets/images/bg1.jpg');
  background-size: cover;
}

.form-signin {
  width: 400px;
  text-align: center;
}

.form-signin-heading {
  color: #FFFFFF;
  text-shadow: 2px 2px 4px black;
}

.form-signin-alter {
  color: #FFFFFF;
}

.flex-login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
