<div class="form-container" id="toolbar">


  <div id="page">
    <h2>Welcome to the member section,
      <div *ngIf="currentUser.displayName">{{ currentUser.displayName }}</div><div *ngIf="currentUser.email">{{ currentUser.email }}</div>!<img *ngIf="currentUser.photoURL" src="{{currentUser.photoURL}}" width="100px" heigth="100px"/>
      <button (click)="logout()" class="basic-btn">Logout</button>
    </h2>
  </div>

  <group-overview [currentUser]="currentUser"
                  (groupSelected)="onGroupSelected($event)">
  </group-overview>

  <group-create (groupCreated)="createGroup($event)"></group-create>

  <group-details [group]="currentGroup">

  </group-details>

  <group-invite [group]="currentGroup">

  </group-invite>

  <group-join (userJoined)="addUserToGroup($event)">

  </group-join>

</div>
