<button (click)="showAddExpense = !showAddExpense" type="button" class="btn btn-primary">Add product</button>
<div *ngIf="showAddExpense" class="row container-fluid ">
  <div class="card">
    <div class="card-block">
      <form  #f="ngForm" (submit)="addExpense(f.form.value)" >
        <input type="text" name="product" [(ngModel)]="expense.product"
               placeholder="Name">
        <input type="number" name="price" placeholder="Price" [(ngModel)]="expense.price">
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<div class="expenses-list">
  <div class="container container-fluid">
    <app-expenses-form (formSubmitted)="getExpensesByName($event)"></app-expenses-form>
    <app-expenses-list [expenses]="expenses" [itemPrice]="itemPrice"></app-expenses-list>
  </div>
</div>
