<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href='#/home'>Home</a> |
    <a href='/expenses'>Expenses</a>
  </div>
</nav>
<main>
<div class="container">
  <div class="row ">

    <router-outlet></router-outlet>

  </div>
</div>
</main>

<!-- GROUP MODULE COMPONENTS -->
<!--
<group-overview [groups]="groups">

</group-overview>

<group-details [group]="group">

</group-details>

<group-invite [group]="group">

</group-invite>

<group-join>

</group-join>

<group-create (groupCreated)="createGroup($event)">

</group-create>
-->
